In [1]:
import pandas as pd

df = pd.read_csv('Rainfall_data.csv', sep=',')
df.head(3)

,Year,Month,Day,Specific Humidity,Relative Humidity,Temperature,Precipitation
0,2000,1,1,8.06,48.25,23.93,0.00
1,2000,2,1,8.73,50.81,25.83,0.11
2,2000,3,1,8.48,42.88,26.68,0.01

In [2]:
df['Date'] = df['Day'].astype(str) + "." +df['Month'].astype(str) + "." + df['Year'].astype(str)
df = df[['Date', 'Specific Humidity','Relative Humidity','Temperature','Precipitation']]
df.head(3)

       Date  Specific Humidity  Relative Humidity  Temperature  Precipitation
0  1.1.2000               8.06              48.25        23.93           0.00
1  1.2.2000               8.73              50.81        25.83           0.11
2  1.3.2000               8.48              42.88        26.68           0.01

In [3]:
df.to_csv('Teslafinal.csv', sep=';', encoding='cp1251', index=None)